.chat-content-container {
    flex-grow: 1;
    overflow: auto;
    height: 100% !important
}

.chat-content-msgContainer {
    flex-grow: 1 ;
    flex-shrink: 1;
    height: 75% !important;
}

.chat-content-msgListContainer {
    overflow: auto ;
    height: 100% ;
    flex-direction: column-reverse;
    display: flex ;
    padding: 0 !important;
}

.chat-content-mainContainer {
    height: 100%;
    width: 100% !important;
    flex-wrap: nowrap !important;
    margin: 0 !important;
}

.chat-content-send-msg-item {
    padding: 0 !important;
}

.chat-content-participants-item {
    margin: 5px !important;
}
