.send-message {
    padding: 2px 4px;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.emoji-mart .emoji-mart-emoji:focus {
    outline: none;
}

.send-message-input {
    flex: 1;
}

.send-message-icon-btn {
    padding: 10px;
    cursor: pointer;
}

.send-message-divider {
    height: 28px;
    margin: 4px;
}
